@charset "UTF-8";
:root {
	--base-text-color: #333;
	--base-bg-color: #f1f1f1;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font:16px/1.6 "Noto Sans Kr", sans-serif;
	color: var(--base-text-color);
}

ul {
	list-style: none;
}

.d-none {
	display: none;
}

a, a:link {
	text-decoration: none;
	color: var(--base-text-color);
}

/*=============bxslider stlye custom*/

.bx-wrapper {
	border: 0;
	margin-top: 60px;
}
.bx-wrapper .bx-prev {
       left: 10px;
    background: url('../images/custom.png') 0 -32px no-repeat;
}
.bx-wrapper .bx-next {
	    right: 10px;
    background: url('../images/custom.png') -43px -32px no-repeat;	
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager-item {
    display: none;
    
    /* vertical-align: bottom; */
}

/* ============= header =============== */
header {
	position: fixed;
	left:0;
	top:0;
	width: 100vw;	
	z-index: 2000;
	background: white;
	
}

.header-wrap {
	max-width: 90%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#gnb, .items {
	display: flex;
	column-gap: 1rem;
}

/*===========recommend*/
.recommend {
	max-width: 1280px;
	margin: 0 auto;
}

.rec_title {
	font-weight: 900;
	text-align: center;
	margin: 1.5em 0 1.2em 0;
}

.reco-list {
	display: flex;
	column-gap: 1em;
}


.reco-list img {
	width: 213px;
}

.desc {
	margin: 1em 0;
	font-size: .875em;
	
}
.price {
	color: #bd0000;
	font-size: .75em;
}

/*============promotion======*/
.promotion {
	max-width: 1280px;
	margin: 2em auto;
	overflow: hidden;
}
.event-banner {
	margin-bottom: 1em;
}
.promotion-list {
	display: flex;
	column-gap: 1em;
}
.promotion-list img {
	object-fit: cover;
	max-width: 100%;
	transition: all .5s ease-in-out;
}
.promotion-list li {
	overflow: hidden;
}
.promotion-list li:hover img {
	transform: scale(1.05, 1.05)
}

/*================special=======*/

.special-title-bg {
	background: #f0f0f0;
}

.special-title {
	max-width: 1280px;
	height: 72px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.special-title p::before {
	content:'';
	display: inline-block;
	width:172px;
	height:32px;
	margin-right: 1rem;
	background: url("../images/logo_myiloomlf.svg") no-repeat center / cover;
}

.special-title a {
	margin-left: 3em;
}
.special-list { /*flex:1차원 (행 or 열) grid:2차원 (행+열), table이랑 비슷*/
	max-width: 1280px;
	margin: 100px auto 50px;	/*위, 좌우, 아래*/
	display: grid;			/*repeat(4,1fr) : 1fr을 4번 반복해줘!*/
	grid-template-columns: 1fr 1fr 1fr 1fr; /*fraction: 전체공간의 합을 비율로 표현*/
	/* grid-template-rows: 400px 150px; */
	column-gap: 1rem;
}


.special-list img {
	max-width: 100%;
	
}

.attach-img {
	height: 300px;
	border-radius: 20px;
	overflow: hidden;	/*라운드 된 만큼 감춰줘*/
}

.rank-point {
	color: #cc0000;
	font-size: 1.250em;
	letter-spacing: 3px;
	margin: 0.5em 0; 		/*em: 엠~ rem: 알엠~!*/
}

.write-title {
	font-size: 1.250em;
	font-weight: 800;		/* 100~900(단위없음), thin/bord/border */
	
}
.write-body {
	font-size: .875em;
	text-overflow: ellipsis; /*넘치면 단축? 줄이기 : ... 처리(생략)*/
	overflow: hidden;
	word-break: break-word;
	/*white-space: nowrap; 줄바꿈하지 않고 '한줄'로 길게 */

	
	display: -webkit-box;	/*vendor prefix:표준 속성이 아닐때 다른 브라우저가 지원할 수 있는 접두어 추가 */
	-webkit-line-clamp: 2;	/*원하는 라인 수 */
	-webkit-box-orient: vertical;
}
.relate-item {
	display: flex;
	justify-content: space-between;
	margin: 1em 0 0 0;

}
/*
.relate-item::before {
	content: '';
	border-top: 1px dashed #f0f0f0;
	width: 100%;
	display: block;
}*/
.item-image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.like-item::after {
	content:'';
	display: inline-block;
	color:red;
	height: 16px;
	width: 16px;
	background: url("../images/icon_likeHt.svg")
}

.item-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 5em; 
	overflow:hidden;
	font-weight:bold;
	
}
	
.item-location, .item-price {
	font-size: .725em;
	color: grey;
}

/*==============aside=======*/

aside {
	background: #e0e0e0;
}

.sns {
	max-width: 1280px;
	margin: 0 auto;
}
.sns p {
	text-align: center;

}

.sns p:nth-child(1) {
	font-size:1.750em;
	text-transform: uppercase;
	margin: 1em 0;
	
}

.sns p:nth-child(2) {
	font-size:1.250em;
	
}
.sns-posts {
	display: flex; /*display:grid*/
	
}

.sns-posts img {
	width: 200px;
}